<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

    <title>Contact</title>
  </head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">E-Commerce</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about/">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shop/">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/contact/">Contact</a>
        </li>
        {% comment %} <li class="nav-item">
          <a class="nav-link active" href="#">Cart(<span id="cart">0</span>)</a>
        </li> {% endcomment %}
        </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <button type="button" class="btn btn-primary mx-2" data-bs-toggle="popover" title="Your Products in Cart" data-bs-content="xyz">Cart (<span id="cart">0</span>)</button>
    </div>
  </div>
</nav>
<body>
  <h2 class="my-4 mx-5">Facing any issues? Contact us and we will be happy to help !</h2>
<div class="container">
<form action="/contact/" method="post">{% csrf_token %}
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name">
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">Email ID</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
  </div>

  <div class="mb-3">
    <label for="mobile" class="form-label">Mobile/Contact Number</label>
    <input type="tel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="mobile">
  </div>

  <div class="mb-3">
    <label for="name" class="form-label">Subject</label>
    <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="subject">
  </div>

  <div class="mb-3">
    <label for="name" class="form-label" id="message">How can we Help you ?</label><br>
    <textarea name="message" style="margin-top: 0px;margin-bottom: 0px;height: 112px;width: 1300px;"></textarea>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>










<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
  if(localStorage.getItem('cart') == null){
  var cart = {};
  }
  else
  {
  cart = JSON.parse(localStorage.getItem('cart'));
  document.getElementById('cart').innerHTML = Object.keys(cart).length;
  }

  $('.cart').click(function(){
  var idstr = this.id.toString();
  if (cart[idstr] != undefined){
  cart[idstr] = cart[idstr] + 1;
  }
  else
  {
    cart[idstr] = 1;
  }
  console.log(cart);
  localStorage.setItem('cart', JSON.stringify(cart));
  document.getElementById('cart').innerHTML = Object.keys(cart).length;
  });
  var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
  var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
  return new bootstrap.Popover(popoverTriggerEl)
})
  </script>


</body>
</html>