<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous"> {% endcomment %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Payment Status</title>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">E-Commerce</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about/">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="shop/">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact/">Contact</a>
        </li>
      </ul>
      <button type="button" class="btn btn-primary mx-2" data-bs-toggle="popover" title="Your Products in Cart" data-bs-content="xyz">Cart (<span id="cart">0</span>)</button>
    </div>
  </div>
</nav>

<body>
<div class="container">{% load static %}
<div class="row>"
<div class="col-md-2">

{% if response.RESPCODE == '01' %}
<h2 class="mt-4">
Congratulations! Order Sucessful.</h2>
<img src="{% static 'js/imagess/success.png' %}" alt="..." class="rounded-circle mt-3" width="100px">
<div class="col-md-6">
</div>


{% else %}
<h2 class="mt-4">
Sorry. Order Failed.</h2>
<img src="{% static 'js/imagess/failure.png' %}" alt="..." class="rounded-circle mt-3" width="100px">
<div class="col-md-6">
</div>

{% endif %}



</div>
</div>
</div>
</body>